.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__img{
    margin-bottom: 1.5rem;
}

.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home__socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
}

.home__social-link{
    color: var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
}

.home__social-link:hover{
    transform: translateY(-2px);
    color: var(--first-color);
}

.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

.mouse{
    border: 3px solid var(--title-color);
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    border-radius: 1rem;
    position: relative;
}

.wheel{
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.30rem;
    height: 0.30rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 1.5s ease-in-out infinite;
}

@keyframes ani-mouse{
    0%{
        top: 29%;
    }
    15%{
        top: 50%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}