.aside{
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid #0000000d;
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.nav__logo{
    font-weight: var(--font-bold);
    font-size: var(--h1-font-size);
    color: var(--title-color);
    transition: .3s;
}

.nav__logo:hover{
    transform: translateY(-2px);
    color: var(--first-color);
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link{
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover{
    color: var(--first-color);
    transition: .3s;
}

.copyright{
    color: #9b98b3;
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.nav__toggle{
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #e8dfec;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media screen and (max-width: 1024px){
    .aside{
        left: -110px;
    }
}